@font-face {
    font-family: 'Anvire-Black';
    src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: 'Anvire-Book';
    src: url('../fonts/AvenirLTStd-Book.otf');
}
@font-face {
    font-family: 'Anvire-BookOblique';
    src: url('../fonts/AvenirLTStd-BookOblique.otf');
}
@font-face {
    font-family: 'Anvire-Heavy';
    src: url('../fonts/AvenirLTStd-Heavy.otf');
}
@font-face {
    font-family: 'Anvire-Medium';
    src: url('../fonts/AvenirLTStd-Medium.otf');
}



body,
ul,
ol
{ 
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
}
*:focus{
    outline: none !important;
}
a{
    font-family: 'Anvire-Black';
}
a:hover{
    text-decoration: none;
}

h1{
    font-size: 118px;
    color: #162B42;
    font-family: 'Anvire-Black';
}
h2{
    font-size: 78px;
    font-family: 'Anvire-Black';
}
h3{
    font-size: 60px;
    font-family: 'Anvire-Heavy';
}
h4{
    font-size: 48px;
    font-family: 'Anvire-Black';
}
h5{
    font-size: 36px;
    font-family: 'Anvire-Black';
}
h6{
    font-size: 24px;
    font-family: 'Anvire-Black';
}

h1,
h2,
h3,
h4,
h5,h6{
    margin: 0px;
}
p{
    font-size: 18px;
    font-family: 'Anvire-Book';
    margin: 0px;
}
.green{
    color: #33B34A;
}











/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Header
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.site-header {
    position: absolute;
    width: 100%;
    z-index: 9999;
}
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.site-log {
    width: 100px;
}
.site-log img {
    width: 100%;
}
.site-menu {
    display: flex;
    align-items: center;
}
.site-menu nav ul {
    display: flex;
}
.site-menu nav ul li {
    margin-right: 50px;
}
.site-menu nav ul li a{
    color: #fff;
    font-family: 'Anvire-Heavy';
    padding: 20px 0px;
}
.site-menu nav ul li a:hover{
    border-bottom: 4px solid #33B34A;
}
.contact-us-link a {
    width: 190px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33B34A;
    color: #fff;
    font-family: 'Anvire-Heavy';
    text-transform: uppercase;
    font-size: 14px;
}
.contact-us-link a img{
    margin-left: 10px;
}




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Home Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.hmb-section {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hmb-main {
    position: relative;
}
.hmb-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    text-align: center;
}
.hmb-content h3 {
    color: #fff;
}
.hmb-btn {
    padding-top: 30px;
    display: flex;
}
.hmb-btn a img{
    margin-left: 10px;
}
.hmb-start-btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33B34A;
    color: #fff;
    margin-right: 5px;
}
.hmb-start-btn:hover{
    color: #fff;
}
.hmb-learn-btn {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    margin-left: 5px;
}
.hmb-learn-btn:hover{
    color: #fff;
}
.social-link{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: max-content;
}
.social-link a{
    color: rgba(255, 255, 255, 0.3);
    margin-bottom: 10px;
}
.social-link a:last-child{
    margin-bottom: 0px;
}
.social-link a:hover{
    color: #33B34A;
}
.scroll-down {
    position: absolute;
    bottom: 50px;
    right: 0;
}
.scroll-down-center {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
}
.hmb-copyright{
    position: absolute;
    bottom: 20px;
    left: 0;
}
.hmb-copyright p{
    color: #fff;
    font-size: 16px;
}
.cis-section {
    width: 100%;
    padding: 50px 0px;
    background-color: #F5F5F5;
}
.cis-content {
    display: flex;
    position: relative;
}
.trusted{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: max-content;
    font-family: 'Anvire-Heavy';
    font-size: 30px;
    color: rgba(0,0,0,0.5);
}
.cis-slider{
    padding:0px 15%;
}
.cis-slider.owl-carousel .owl-nav.disabled{
    display: block !important;
}
.cis-slider .owl-dots{
    display: none;
}
.cis-slider .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto !important;
    height: max-content;
}
.cis-slider .owl-nav button img{
    margin: 20px;
}
.cis-slider .owl-nav [class*=owl-]:hover{
    background: transparent !important;
    color: #000;
}
.cis-slider .owl-nav button:first-child::after {
    content: '';
    margin-left: 10px;
    padding:5px 1px;
    background-color: #000;
    cursor: auto;
}



.aus-section {
    width: 100%;
    padding: 100px 0px;
}
.aus-content {
    display: flex;
    justify-content: space-between;
}
.aus-img {
    width: 35%;
    position: relative;
    height: max-content;
}
.aus-img img {
    width: 100%;
}
.aus-info {
    width: 60%;
    position: relative;
}
.aus-info::before{
    content: '';
    position: absolute;
    top: 40px;
    left: -80px;
    height: 300px;
    width: 50px;
    background-image: url('../img/before-3.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.aus-info::after{
    content: '';
    position: absolute;
    top: -60px;
    right: 0px;
    width: 155px;
    height: 160px;
    background-image: url('../img/before-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.aus-detail {
    max-width: 840px;
}
.aus-detail p{
    font-family: 'Anvire-Book';
    color: rgba(0,0,0,0.7);
}
.aus-social-link {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    width: max-content;
    margin: auto;
}
.aus-social-link a{
    color: #000;
    opacity: 0.3;
    margin-right: 20px;
    font-size: 20px;
}
.aus-social-link a:last-child{
    margin-right: 0px;
}
.aus-social-link a:hover{
    opacity: 1;
}
p.aus-info-title {
    font-size: 22px;
    padding: 40px 0px 30px;
    color: rgba(0,0,0,0.3);
}




.svs-section {
    width: 100%;
    padding-bottom: 100px;
}
.svs-title {
    padding-bottom: 100px;
    text-align: center;
    max-width: 800px;
    margin: auto;
}
.svs-subheading {
    padding: 20px 0px 10px;
    font-size: 30px;
    font-family: 'Anvire-Heavy';
    color: #000;
}
.svs-title p{
    color: rgba(0,0,0,0.7);
}
.svs-services {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
.svs-box {
    width: 24%;
    margin-bottom: 1%;
    text-align: center;
    min-height: 300px;
    position: relative;
    background-color: #F8F8F8;
}

.svs-box h6 {
    padding: 40px 0px 10px;
}
.svs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    background-color: #33B34A;
    margin: 30px auto 0px;
    color: #fff;
    border-radius: 25px;
    display: none;
}
.svs-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    min-height: 300px;
    padding: 40px;
}
.svs-box:hover{
    background-color: #FFFFFF;
    
}
.svs-box:hover .svs-box-content {
    min-height: 370px;
    z-index: 999;
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.svs-btn img{
    margin-left: 10px;
}
.svs-btn:hover{
    color: #fff;
}
.svs-box:hover .svs-btn{
    display: flex;
    
}
.svs-box-info {
    max-width: 320px;
    margin: auto;
}
.svs-img {
    height: 80px;
}
.svs-img img {
    height: 100%;
    object-fit: contain;
}



.pfs-section {
    width: 100%;
    padding-bottom: 100px;
    position: relative;
    margin-bottom: 50px;
}
.pfs-section::before{
    content: '';
    position: absolute;
    top: 16%;
    left: -130px;
    width: 360px;
    height: 350px;
    background-image: url('../img/before-2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.pfs-content {
    padding: 0px 10%;
}
.pfs-title {
    padding-left: 90px;
}
.pfs-title p{
    width: 675px;
    padding: 20px 0px 50px;
}
.pfs-title-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pfs-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: #33B34A;
    color: #fff;
    border-radius: 70px;
}
.pfs-btn:hover{
    color: #fff;
}
.pfs-btn img {
    margin-left: 20px;
}
.pfs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pfs-item-img {
    width: 40%;
    position: relative;
}

.pfs-item-img img {
    width: 100%;
}
.pfs-item-info {
    width: 50%;
}
.pfs-item-info p {
    max-width: 500px;
    padding: 30px 0px;
}
.pfs-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: #33B34A;
    color: #fff;
    border-radius: 70px;
}
.pfs-item-btn:hover{
    color: #fff;
}
.pfs-item-btn img {
    margin-left: 20px;
    width: 20px !important;
}
.pfs-slider {
    position: relative;
}
.pfs-slider .owl-prev{
    position: relative;
}
#counter_banner {
    position: absolute;
    left: -130px;
    cursor: auto;
}
.pfs-slider .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
    color: #000;
}
.pfs-slider .owl-nav {
    position: absolute;
    bottom: -80px;
    left: 300px;
}
#counter_banner span {
    font-size: 18px;
    font-family: 'Anvire-Book';
    padding: 0px 10px;
}
#counter_banner span:last-child {
    color: #C1C1C1;
}
.pfs-slider .owl-nav .owl-prev img{
    margin: 0px 20px;
}
.pfs-slider .owl-nav img{
    opacity: 0.5;
}
.pfs-slider .owl-nav button:hover img{
    opacity: 1;
}

/* Testimonial Slider */
.testimonial-section{
    padding: 50px 0px;
    background-color: #F5F5F5;
}
.testimonial-content {
    max-width: 70%;
    margin: auto;
    position: relative;
}
.testimonial-content::before{
    content: '';
    position: absolute;
    top: 100px;
    left: -50px;
    width: 30px;
    height: 30px;
    background-image: url('http://localhost/referral/wp-content/uploads/2020/11/quote-1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.testimonial-content::after{
    content: '';
    position: absolute;
    bottom: 180px;
    right: -50px;
    width: 30px;
    height: 30px;
    background-image: url('http://localhost/referral/wp-content/uploads/2020/11/quote-2.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.testimonial-content .item{
    position: relative;
}
.testimonial-content .item p{
    text-align: center;
}
.testimonial-content .item img{
    width: 20px !important;
    display: none;
}
.testimonial-content .owl-thumb-item{
    border: none;
    background-color: transparent;
    
}
.testimonial-content .owl-thumb-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial-content .owl-thumbs{
    text-align: center;
    padding: 10px 0px 20px;
}
.testimonial-content .owl-dots{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
}
.aut-name {
    font-family: 'Anvire-Medium';
    font-size: 20px;
    padding-top: 30px;
    color: #333333;
}
.aut-info {
    color: #999999;
    font-size: 14px;
}
.testimonial-content h3{
    padding-bottom: 30px;
    color: #162B42;
    font-family: 'Anvire-Black';
}





/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.site-footer {
    background-color: #162B42;
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}
.footer-left {
    width: 35%;
    padding: 0px 5%;
    color: #fff;
}
.footer-right {
    width: 60%;
    padding:2% 5%;
    background-color: #fff;
}
.footer-left p {
    color: rgba(255,255,255,0.6);
}
.contact-links span:first-child {
    margin-right: 50px;
}

.contact-links span a {
    font-size: 24px;
    color: #33B34A;
    text-decoration: underline;
    font-family: 'Anvire-Medium';
}
.footer-contact {
    padding-top: 20px;
}
.footer-menu li{
    padding-bottom: 10px;
    position: relative;
    transition: 0.5s all;
}
.footer-menu li:hover{
    padding-left: 30px;
    transition: 0.5s all;
}

.footer-menu li::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background-image: url(http://localhost/referral/wp-content/uploads/2020/11/green-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s all;
    visibility: hidden;
    opacity: 0;
}
.footer-menu li:hover::before{
    visibility: visible;
    opacity: 1;
    transition: 0.5s all;
}
.footer-menu a {
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    font-family: 'Anvire-Book';
}
.footer-menu a:hover{
    color: #fff;
}
.footer-menu a img {
    width: 0;
    transition: 0.4s all;
}
.footer-menu a:hover img {
    width: 15px;
    transition: 0.4s all;
}
.footer-icons a {
    padding-right: 15px;
    color: rgba(255,255,255,0.3);
}
.footer-icons a:hover{
    color: #33B34A;
}
.footer-social p{
    color: #fff;
}
.footer-right .form-control{
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #707070;
    padding: 0px 0px 20px;
}
.form-control:focus{
    box-shadow:none;
}
.footer-form-btn{
    position: relative;
}
.footer-form-btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    background-image: url(http://localhost/referral/wp-content/uploads/2020/11/btn-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -7px;
    z-index: 999;
    left: 180px;
}
.f-form-btn {
    width: 220px;
    height: 50px;
    background-color: #2DABE3;
    border: none;
    color: #fff;
    font-family: 'Anvire-Black';
    border-radius: 70px;
    margin-top: 50px;
    padding-right: 30px;
}
.copyright-content{
    padding: 0px 5%;
}
.copyright-content p {
    font-size: 14px;
    font-family: 'Anvire-Book';
    color: rgba(0,0,0,0.5);
}
.copyright-content ul li a {
    font-size: 14px;
    font-family: 'Anvire-Book';
    color: rgba(0,0,0,0.5);
}
.copyright-content ul li:first-child{
    padding-right: 25px;
}





/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Service Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.sip-section {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
}

.sip-content {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sip-content h2{
    color: #fff;
    font-family: 'Anvire-Heavy';
    max-width: 700px;
    margin: auto;
    text-align: center;
}
.spt-section {
    width: 100%;
    padding: 100px 0px;
}
.spt-title {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto 100px;
    font-size: 30px;
    font-family: 'Anvire-Heavy';
}
.spt-post-box {
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}
.spt-box-info {
    width: 45%;
}
.spt-box-img {
    width: 45%;
    position: relative;
}
.spt-box-img img {
    width: 100%;
}
.spt-box-img::before {
    content: '';
    position: absolute;
    top: -70px;
    right: -80px;
    width: 175px;
    height: 180px;
    background-image: url('../img/before-1.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.spt-post {
    width: 90%;
    margin: auto;
}
.spt-post {
    width: 90%;
    margin: auto;
}


.spt-box-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    margin-top: 50px;
}
.spt-box-btn img{
    margin-left: 10px;
}
.quote-btn {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33B34A;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #33B34A;
}
.quote-btn:hover{
    background-color: transparent;
    color: #33B34A;
}
.quote-btn:hover img{
    filter: invert(35%) sepia(12%) saturate(2588%) hue-rotate(79deg) brightness(98%) contrast(88%);
}
.read-btn {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #33B34A;
    border-radius: 25px;
    border: 1px solid #33B34A;
}
.read-btn img {
    filter: invert(35%) sepia(12%) saturate(2588%) hue-rotate(79deg) brightness(98%) contrast(88%);
}
.read-btn:hover{
    background-color: #33B34A;
    color: #fff;
}
.read-btn:hover img {
    filter: unset;
}


.spt-box-info h4 {
    color: #162B42;
}

.spt-post-box:nth-child(even) {
    flex-direction: row-reverse;
}
.spt-post-box:nth-child(even) .spt-box-img::before{
    left: -65px;
    right: unset;
}
.crg-title {
    margin: auto;
    text-align: center;
}
.crg-img img {
    width: 100%;
}
.crg-content {
    max-width: 80%;
    margin: auto;
}
.crg-btn {
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 50px;
    background-color: #33B34A;
    color: #fff;
    border-radius: 25px;
}
.crg-btn img{
    margin-left: 10px;
}
.crg-btn:hover{
    color: #fff;
}


.ops-section {
    width: 100%;
    padding: 100px 0px;
}
.ops-content {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 90%;
    margin: 50px auto 0px;
}

.ops-box {
    width: 49%;
    padding: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 30px;
}
.ops-box p{
    padding-top: 20px;
    color: rgba(0,0,0,0.7);
}
.ops-box-btn {
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.ops-box-btn img{
    margin-left: 10px;
}
.pricing-varies {
    color: rgba(0,0,0,0.7);
}
.pricing-varies:hover{
    color: rgba(0,0,0,0.7);
}
/* .services-template-default .sip-section {
    background-color: rgba(0,0,0,0.2);
    background-blend-mode: overlay;
} */




/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Service Details
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.pdc-section {
    width: 100%;
    padding: 100px 0px;
}
.cci-info {
    padding-top: 50px;
}
.cci-info .quote-btn img{
    margin-left: 10px;
}
.cci-info ul{
    margin-bottom: 30px;
}
.cci-info ul li{
    font-size: 18px;
    font-family: 'Anvire-Book';
    color: #575757;
}
.cci-info ul li::before{
    content: '→';
    color: #33B34A;
    padding-right: 5px;
}
.pdc-content p {
    color: rgba(0,0,0,0.6);
    font-family: 'Anvire-Book';
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Contact Us
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.cls-content {
    position: relative;
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #fff;
    margin-top: -100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cls-box {
    display: flex;
}
.cls-box-img {
    margin-right: 15px;
}
.cls-box-info h4 {
    font-size: 20px;
    color: #333333;
    padding-bottom: 10px;
}
.cls-box-info a {
    font-size: 14px;
    color: #666666 !important;
    font-family: 'Anvire-Book';
}
.cfs-section {
    width: 100%;
    padding: 100px 0px;
}

.cfs-content {
    max-width: 70%;
    margin: auto;
}
.cfs-form {
    padding-top: 50px;
    border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.cfs-form .form-control{
    color: #666666;
    font-family: 'Anvire-Book';
    padding: 24px 15px;
}
.cfs-form-btn {
    width: 220px;
    height: 50px;
    background-color: #33B34A;
    border: 1px solid #33B34A;
    color: #fff;
    font-family: 'Anvire-Black';
    border-radius: 70px;
}
.cfs-form-btn img {
    margin-left: 10px;
}
.submit-btn {
    text-align: right;
    padding: 30px 0px;
}
.cfs-content h5{
    font-family: 'Anvire-Heavy';
}
.faq-section {
    width: 100%;
    padding-bottom: 100px;
}
.faq-content {
    max-width: 70%;
    margin: auto;
}


#accordion .card {
    border: none;
}
#accordion .card-header{
    padding:0px;
    border-bottom:0px;
    background-color:transparent;
}
.faq-btn{
    font-size: 20px;
    font-family: 'Anvire-Heavy';
    color: #000 !important;
    text-decoration: none !important;
    padding: .375rem 0px;
}
.faq-btn::before{
    content: '-';
    padding-right: 10px;
    max-width: 30px;
}
.faq-btn.collapsed::before{
    content: '+';
}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Portfolio
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/



.wps-section{
    padding-bottom: 50px;
}
.page-template-portfolio .pfs-item-img::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #162B42;
    z-index: -1;
}
.page-template-portfolio .pfs-item-img img{
    padding: 50px 0px 50px 50px;
}
.page-template-portfolio .pfs-section::before{
    display: none;
}
.page-template-portfolio .pfs-content{
    padding:0px ;
}
.port-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 60px;
    background-color: transparent;
    color: #000;
    border-radius: 70px;
    border: 1px solid #33B34A;
}
.port-btn img {
    width: 20px !important;
}
.port-btn:hover{
    background-color: #33B34A;
    color: #fff;
}
.port-btn:hover img{
    filter: invert(1);
}
.port-img {
    width: 100%;
    height: 350px;
    background-color: #E8E8E8;
    position: relative;
}
.port-img:hover::before{
    content: '';
    background-color: rgba(51, 179, 74, 0.8);
    background-blend-mode: overlay;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.port-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.port-img-overlay{
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.view-project{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    visibility: hidden;
}
.view-project img{
    width: 20px;
}
.view-project span{
    font-size: 12px;
    color: #fff;
}
.port-img:hover .view-project{
    visibility: visible;
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Portfolio Details Page
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.single-portfolio header{
    background-color: #000;
}
.pdb-content {
    max-width: 80%;
    margin: auto;
}
.pdb-section {
    padding: 150px 0px 0px;
    position: relative;
}
.pdb-section::before{
    content: '';
    position: absolute;
    top: 200px;
    left: -30px;
    background-image: url(../img/before-4.png);
    width: 140px;
    height: 140px;
    background-size: contain;
    background-repeat: no-repeat;
}
.pdb-info h4 {
    max-width: 400px;
}
.pdb-info P{
    padding:30px 0px 50px;
    max-width: 500px;
}


.dcs-section{
    padding:100px 0px ;
}
.dcs-content{
    max-width: 80%;
    margin: auto;
}
.pmi-section {
    width: 100%;
    position: relative;
}
.pmi-section::before{
    content: '';
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    background-color: #33B34A;
    z-index: -1;
}

.pmi-content {
    max-width: 80%;
    height: 500px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.pmi-content img {
    padding: 70px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.pbd-section {
    padding: 100px 0px;
}
.pbd-content {
    max-width: 80%;
    margin: auto;
}
.pbd-content h5{
    font-family: 'Anvire-Book';
    padding-bottom: 50px;
}
.pbd-img .pmi-content{
    max-width: 100%;
    height: 400px;
}
.pbd-info h6{
    max-width: 500px;
    font-family: 'Anvire-Book';
}
.pbd-info p {
    max-width: 500px;
    padding-top: 40px;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Testimonial
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
.tss-section {
    padding: 100px 0px;
}
.tss-content {
    max-width: 90%;
    margin: auto;
}
.tss-content h6 {
    font-family: 'Anvire-Heavy';
    max-width: 700px;
    margin: auto;
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 100px;
}
.review-box {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #F5F5F5;
    margin-bottom: 100px;
}
.client-img {
    width: 15%;
    position: relative;
    max-width: 175px;
    max-height: 175px;
}
.client-img::before {
    content: '';
    position: absolute;
    top: -70px;
    left: -70px;
    width: 100%;
    height: 100%;
    background-color: #33B34A;
}
.client-img img {
    position: absolute;
    top: -80px;
    left: -80px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-review-section {
    width: 85%;
}
.client-review {
    padding-bottom: 30px;
}

.client-name {
    font-family: 'Anvire-Black';
}

.client-info {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}



/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
       Media Query
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

@media(min-width:1400px){
    .container{
        max-width:1240px;
    }
    h1{
        font-size: 80px;
    }
    h3{
        font-size: 50px;
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }

    .aus-info::after{
        width: 110px;
    }
    p.aus-info-title{
        padding:20px 0px;
    }
    .svs-box{
        min-height: 350px;
    }
    .pfs-content{
        padding: 0px 5%;
    }
    .pfs-section::before{
        width: 300px;
    }
    .footer-left{
        width: 38%;
    }
    .contact-links span a{
        font-size: 20px;
    }
}

@media(min-width:1600px){
    .container{
        max-width:1440px;
    }
    h1{
        font-size: 90px;
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }

    .aus-info::after{
        width: 120px;
    }
    p.aus-info-title{
        padding: 20px 0px;
    }
    .svs-box{
        min-height: 370px;
    }
    .contact-links span a{
        font-size: 20px;
    }
}
@media(min-width:1900px){
    .container{
        max-width:1740px;
    }
}



@media(max-width:1399px){
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 50px;
    }
    h3{
        font-size: 40px;
    }
    h4{
        font-size: 34px;
    }
    h5{
        font-size: 24px;
    }
    h6{
        font-size: 20px;
    }
    p{
        font-size: 16px;
    }



    .hmb-content{
        max-width: 520px;
    }
    .trusted{
        font-size: 20px;
    }
    .aus-info::after{
        width: 100px;
    }
    p.aus-info-title{
        padding: 20px 0px;
    }
    .svs-box{
        min-height: 350px;
    }
    .svs-box-content{
        padding: 30px;
    }
    .pfs-title{
        padding-left: 60px;
    }
    .footer-left{
        width: 38%;
    }
    .contact-links span a{
        font-size: 20px;
    }
    .pfs-section::before{
        width: 240px;
    }
    .pfs-btn{
        width: 180px;
        height: 50px;
    }
    .pfs-item-btn{
        width: 180px;
        height: 50px;
        font-size: 14px;
    }
    .pfs-item-btn img{
        margin-left: 15px;
        width: 15px !important;
    }
    .contact-links span:first-child{
        margin-right: 30px;
    }


    /* Service Page */
    .spt-title{
        max-width: 800px;
        font-size: 24px;
    }
    .spt-box-img::before{
        top: -55px;
        right: -65px;
        width: 140px;
        height: 140px;
    }
    .spt-post-box:nth-child(even) .spt-box-img::before{
        top: -55px;
        left: -50px;
        width: 140px;
        height: 140px;
    }
    .spt-box-btn{
        max-width: 400px;
    }
    .quote-btn{
        width: 190px;
    }
    .read-btn{
        width: 190px;
    }
}



@media(max-width:1024px){
    h1{
        font-size: 70px;
    }

    .aus-section{
        padding: 100px 0px 50px;
    }
    .aus-info::after{
        width: 80px;
        top: -70px;
        right: -20px;
    }
    .svs-title{
        padding-bottom: 50px;
    }
    .svs-img{
        height: 60px;
    }
    .svs-btn{
        width: 100%;
        height: 45px;
        font-size: 14px;
    }
    .svs-box-content{
        padding: 20px;
    }
    .svs-section{
        padding-bottom: 50px;
    }
    .contact-links span a{
        font-size: 18px;
    }
    .footer-left{
        width:40%;
    }


    /* Service Page */
    .spt-box-btn {
        max-width: 350px;
    }
    .quote-btn {
        width: 170px;
    }
    .read-btn {
        width: 170px;
    }
}



@media(max-width:991px){
    h1{
        font-size: 60px;
    }
    
    .site-log {
        width: 90px;
    }
    .site-menu nav ul li{
        margin-right: 30px;
    }
    .contact-us-link a{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .trusted{
        left: -25px;
    }
    .cis-slider .owl-nav{
        right: -25px;
    }
    .cis-slider .owl-nav button img{
        margin: 5px;
    }
    .pfs-title p{
        width: auto;
    }


    .aus-section{
        padding: 50px 0px;
    }
    .aus-content{
        flex-flow: row wrap;
    }
    .aus-img{
        width: 100%;
        max-width: 300px;
        margin: auto;
    }
    .aus-info{
        width: 100%;
    }
    .aus-info::before{
        display: none;
    }
    .aus-info::after{
        display: none;
    }
    .svs-subheading{
        font-size: 24px;
    }

    .svs-services{
        justify-content: center;
    }
    .svs-box{
        width: 31%;
        margin: 1%;
    }


    .pfs-section::before{
        display: none;
    }
    .pfs-title{
        padding-left: 0px;
    }
    .pfs-content{
        padding: 0px;
    }


    .testimonial-content{
        max-width: 90%;
    }


    .site-footer{
        flex-flow: row wrap;
        padding: 0px;
    }

    .footer-left{
        width: 100%;
        padding: 10% 5%;
        order: 2;
    }
    .footer-right{
        width: 100%;
        padding: 10% 5%;
        order: 1;
    }

    /* Service Page */
    .spt-post-box{
        flex-flow:row wrap;
        flex-direction: column-reverse !important;
    }
    .spt-box-info{
        width: 100%;
        padding-top: 30px;
    }
    .spt-box-img{
        width: 100%;
    }
    .spt-box-img::before{
        top: -40px;
        right: -40px;
        width: 100px;
        height: 100px;
    }
    .spt-post-box:nth-child(even) .spt-box-img::before{
        top: -40px;
        left: -35px;
        width: 100px;
        height: 100px;
    }
    .spt-title{
        max-width: 100%;
        font-size: 21px;
        margin: 0 auto 50px;
    }
    .spt-section{
        padding: 50px 0px;
    }
    .spt-box-info .py-4{
        padding: 5px 0px !important;
    }
    .spt-box-btn{
        margin-top: 30px;
    }
    .ops-content{
        max-width: 100%;
    }
    .ops-box{
        padding: 30px;
    }
    .ops-box-btn{
        max-width: 260px;
    }
    .quote-btn{
        width: 150px;
        font-size: 12px;
        height: 45px;
    }
}


@media(max-width:767px){

    h1{
        font-size: 48px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 34px;
    }
    h4{
        font-size: 30px;
    }
    h5{
        font-size: 20px;
    }
    h6{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }

    .nav-toggler {
        position: absolute;
        display: block;
        width: 30px;
        height: 20px;
        right: 20px;
        top: 40px;
        margin: auto;
    }
    .nav-toggler span {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background: #0b2738;
        transition: 0.4s;
    }
    .nav-toggler span:nth-child(2) {
        bottom: 0;
    }
    .nav-toggler span:nth-child(3) {
        margin: auto;
        top: 0;
        bottom: 0;
    }

    .nav-active span:first-child {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-11px, 6px);
    }
    .nav-active span:nth-child(2) {
        opacity: 0;
    }
    .nav-active span:last-child {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(0px, 4px);
    }
    .site-header{
        position: relative;
    }
    .site-log img{
        filter: invert(35%) sepia(16%) saturate(4236%) hue-rotate(80deg) brightness(89%) contrast(69%);
    }
    .menu-main-menu-container{
        display: none;
        position: absolute;
        left: 0;
        top: 98px;
        right: 0;
    }
    .site-menu nav ul li{
        margin-right: 0px;
        padding-bottom: 5px;
    }

    .site-menu nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
        background-color: #fff;
    }
    .site-menu nav ul li a{
        color: #000;
    }
    .contact-us-link a{
        width: 130px;
        height: 35px;
        font-size: 12px;
        margin-right: 50px;
    }
    .hmb-section{
        height: 600px;
    }
    .hmb-content{
        height: 600px;
    }
    .hmb-start-btn{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .hmb-learn-btn{
        width: 150px;
        height: 40px;
        font-size: 14px;
    }
    .scroll-down{
        display: none;
    }
    .scroll-down-center{
        width: 90px;
        left: unset;
    }
    .scroll-down-center img {
        width: 100%;
    }
    .hmb-copyright p{
        font-size: 12px;
    }


    .cis-content{
        flex-flow: row wrap;
    }
    .trusted{
        position: relative;
        width: 100%;
        left: 0;
    }
    .cis-slider{
        width: 100%;
        padding: 20px 0px 0px 0px;
    }
    .cis-slider .owl-nav{
        top: -35px;
        bottom: unset;
        right: 0px;
        margin: 0px;
    }

    p.aus-info-title{
        font-size: 18px;
        padding: 15px 0px;
    }
    .svs-subheading{
        font-size: 20px;
    }
    .svs-box{
        width: 100%;
        min-height: 240px;
    }
    .svs-box:hover .svs-box-content{
        min-height: 310px;
    }



    .pfs-btn{
        width: 125px;
        height: 40px;
        font-size: 12px;
    }
    .pfs-btn img {
        margin-left: 10px;
    }
    .pfs-item{
        flex-flow: row wrap;
    }
    .pfs-item-img{
        width: 100%;
    }
    .pfs-item-info{
        margin-top: 30px;
        width: 100%;
    }
    .pfs-slider .owl-nav{
        left: 50%;
    }
    .pfs-item-btn{
        width: 150px;
        height: 40px;
        font-size: 12px;
    }
    .pfs-item-btn img{
        margin-left: 10px;
        width: 15px !important;
    }
    .testimonial-content::before{
        top: 40px;
        left: -15px;
    }
    .testimonial-content::after{
        bottom: 160px;
        right: -20px;
    }
    .footer-right .form-control{
        padding: 0px;
    }
    .copyright-content p{
        font-size: 10px;
    }
    .copyright-content ul li a{
        font-size: 10px;
    }
    .copyright-content ul li:first-child{
        padding-right: 15px;
    }



    /* Service Page */
    .spt-title{
        font-size: 16px;
    }
    .spt-box-img::before{
        top: -23px;
        right: -28px;
        width: 60px;
        height: 60px;
    }
    .spt-post-box:nth-child(even) .spt-box-img::before{
        top: -23px;
        left: -20px;
        width: 60px;
        height: 60px;
    }
    .quote-btn{
        width: 130px;
        height: 40px;
    }
    .spt-box-btn img {
        width: 15px;
    }
    .read-btn{
        width: 130px;
        height: 40px;
        font-size: 12px;
    }
    .spt-box-btn {
        max-width: 270px;
    }
    .crg-content{
        max-width: 100%;
    }
    .crg-title h2 {
        font-size: 30px;
    }
    .crg-btn{
        width: 180px;
        height: 45px;
        font-size: 14px;
    }
    .spt-post-box:last-child{
        padding-bottom: 50px;
    }
    .ops-box{
        width: 100%;
    }
    .sip-section{
        height: 400px;
    }
    .sip-content{
        height: 400px;
    }

    /* Service Detail Page */
    .pdc-paragraph:nth-child(2) {
        padding-top: 20px;
    }
    .pdc-section{
        padding: 50px 0px;
    }
    .cci-info ul li{
        font-size: 14px;
        padding-bottom: 5px;
    }
}
